@font-face {
  font-family: "PT Sans Narrow";
  src: url("../fonts/PT-Sans-Narrow-Web-Bold.ttf") format("truetype");
}

* {
	font-family:  "PT Sans Narrow", bold;
	font-size: 14px;
	color: f7f4f1;
	line-height: 24px;
	text-transform: capitalize;
}

h2 {
	font-family:  "PT Sans Narrow", bold;
	font-size: 30px;
	color: f7f4f1;
	line-height: 42px;
	text-transform: capitalize;
}

h3 {
	font-family:  "PT Sans Narrow", bold;
	font-size: 30px;
	color: f7f4f1;
	line-height: 42px;
	text-transform: capitalize;
}

.feauteres, .footer-copyright, .footer-social {
	text-align: center;
}

.news, .gallery, .contacts, .appointment {
	color: 000000;
}