@font-face {
  font-family: "PT Sans Narrow";
  src: url("../fonts/PT-Sans-Narrow-Web-Bold.ttf") format("truetype");
}

* {
	font-family:  "PT Sans Narrow", normal;
	font-size: 14px;
	color: f7f4f1;
	line-height: 24px;
	text-transform: uppercase;
}

h2 {
	font-family:  "PT Sans Narrow", normal;
	font-size: 30px;
	color: f7f4f1;
	line-height: 42px;
	text-transform: uppercase;
}

h3 {
	font-family:  "PT Sans Narrow", normal;
	font-size: 30px;
	color: f7f4f1;
	line-height: 42px;
	text-transform: uppercase;
}

.feature-item, .footer-copyright, .footer-social {
	text-align: center;
}

.news, .gallery, .contacts, .appointment {
	color: 000000;
}

.visually-hidden { 
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
