@font-face {
  font-family: "PT Sans Narrow";
  src: url("../fonts/PT-Sans-Narrow-Web-Bold.ttf") format("truetype");
}

* {
	font-family:  "PT Sans Narrow", normal;
	font-size: 14px;
	color: f7f4f1;
	line-height: 24px;
	text-transform: uppercase;
}

h2 {
	font-family:  "PT Sans Narrow", normal;
	font-size: 30px;
	color: f7f4f1;
	line-height: 42px;
	text-transform: uppercase;
}

h3 {
	font-family:  "PT Sans Narrow", normal;
	font-size: 30px;
	color: f7f4f1;
	line-height: 42px;
	text-transform: uppercase;
}

.feature-item, .footer-copyright, .footer-social {
	text-align: center;
}

.news, .gallery, .contacts, .appointment {
	color: 000000;
}

ul {
    padding: 0;
    list-style-type: none;
}

/*.site-navigation {
    padding: 0;
    list-style-type: none;
}

.user-navigation {
    padding: 0;
    list-style-type: none;
}

.features-list {
    padding: 0;
    list-style-type: none;
}

.news-list {
    padding: 0;
    list-style-type: none;
}

.footer-social-buttons {
    padding: 0;
    list-style-type: none;
}

.breadcrumbs {
    padding: 0;
    list-style-type: none;
}

.catalog-list {
    padding: 0;
    list-style-type: none;
}

.pagination-list {
    padding: 0;
    list-style-type: none;
}

.product-equipment {
    padding: 0;
    list-style-type: none;
}

.product-photo-preview {
    padding: 0;
    list-style-type: none;
}*/

.visually-hidden { 
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*label {
		  cursor: pointer;
}

label:before {  
	    content: "";
	    width: 20px;
	    height: 20px;
	    position: absolute;  
	    left: 0;
	}
	
input[type=checkbox] {  
    	display: none;  
	}
	
.checkbox label:before {
		background: url('../Barbershop/img/checkbox-frame.svg') left center no-repeat;
    margin-top: 2px;
	}
	
input[type=checkbox]:checked + label:before {  
	    background: url('../Barbershop/img/checkbox-cross.svg') left center no-repeat;  
	}

input[type=radio] {  
    	display: none;  
	}
	
.checkbox label:before {
		background: url('../Barbershop/img/radio-frame.svg') left center no-repeat;
    margin-top: 2px;
	}
	
input[type=radio]:checked + label:before {  
	    background: url('../Barbershop/img/radio-dot.svg') left center no-repeat;  
	}*/