body {
	margin: 0;
	padding: 0;
	font-family: "PT Sans Narrow", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #000000;
	background-image: url(../Barbershop/img/Background-main.jpg);
	background-position: top center;
	background-repeat: no-repeat;
}

a {
	text-decoration: none;
}

.main-navigation {
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;

	background-color: #000000;
}

.site-navigation,
.user-navigation {
	list-style: none;
}

.site-navigation a,
.user-navigation a {
	color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
	background-color: #242424;
}

.features-list {
	list-style: none;
}

.feature-item {
	text-align: center;
}

.feature-item h3{
	font-size: 30px;
	line-height: 42px;
}

.index-columns {
	color: #000000;

	background-color: #f8f5f2;
	background-image: url(../Barbershop/img/Background-news.jpg);
	background-position: 0 0;
	background-repeat: repeat;  
}

.index-columns h2{
	font-size: 30px;
	line-height: 42px;
}

.news-list {
	list-style: none;
}

.news-item time{
	text-transform: none;
}

.gallery-content {
	background-color: #cccccc;
	border: 7px solid #ffffff;
}

.button {
	font: inherit;

	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;

	background-color: #000000;
	border: none;
}

.button:hover,
.button:focus,
.button:active {
	background-color: #663d15;
}

/*@font-face {
  font-family: "PT Sans Narrow";
  src: url("../fonts/PT-Sans-Narrow-Web-Bold.ttf") format("truetype");
}

* {
	font-family:  "PT Sans Narrow", normal;
	font-size: 14px;
	color: f7f4f1;
	line-height: 24px;
	text-transform: uppercase;
}*/

/*h2 {
	font-family:  "PT Sans Narrow", normal;
	font-size: 30px;
	color: f7f4f1;
	line-height: 42px;
	text-transform: uppercase;
}

h3 {
	font-family:  "PT Sans Narrow", normal;
	font-size: 30px;
	color: f7f4f1;
	line-height: 42px;
	text-transform: uppercase;
}

.feature-item, .footer-copyright, .footer-social {
	text-align: center;
}

.news, .gallery, .contacts, .appointment {
	color: 000000;
}

ul {
    padding: 0;
    list-style-type: none;
}*/

/*.site-navigation {
    padding: 0;
    list-style-type: none;
}

.user-navigation {
    padding: 0;
    list-style-type: none;
}

.features-list {
    padding: 0;
    list-style-type: none;
}

.news-list {
    padding: 0;
    list-style-type: none;
}

.footer-social-buttons {
    padding: 0;
    list-style-type: none;
}

.breadcrumbs {
    padding: 0;
    list-style-type: none;
}

.catalog-list {
    padding: 0;
    list-style-type: none;
}

.pagination-list {
    padding: 0;
    list-style-type: none;
}

.product-equipment {
    padding: 0;
    list-style-type: none;
}

.product-photo-preview {
    padding: 0;
    list-style-type: none;
}*/

.visually-hidden { 
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*label {
		  cursor: pointer;
}

label:before {  
	    content: "";
	    width: 20px;
	    height: 20px;
	    position: absolute;  
	    left: 0;
	}
	
input[type=checkbox] {  
    	display: none;  
	}
	
.checkbox label:before {
		background: url('../Barbershop/img/checkbox-frame.svg') left center no-repeat;
    margin-top: 2px;
	}
	
input[type=checkbox]:checked + label:before {  
	    background: url('../Barbershop/img/checkbox-cross.svg') left center no-repeat;  
	}

input[type=radio] {  
    	display: none;  
	}
	
.checkbox label:before {
		background: url('../Barbershop/img/radio-frame.svg') left center no-repeat;
    margin-top: 2px;
	}
	
input[type=radio]:checked + label:before {  
	    background: url('../Barbershop/img/radio-dot.svg') left center no-repeat;  
	}*/