body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #283136;
	text-transform: none;

	background-color: #ffffff;
	background-position: 0 0;
	background-repeat: repeat;
}

a {
	text-decoration: none;
}

.main-header {
	background-color: #eeeeee; 
}

.site-navigation {
	font-size: 16px;
	line-height: 30px;
	color: #000000;
	font-weight: 500;
	text-transform: uppercase;
}

.site-navigation {
	list-style: none;
}

.site-navigation a {
	color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: #fb565a;
}

.site-navigation a:active {
	color: #000000;
	opacity: 0.3;
}

/*.site-navigation {
	font-weight: 500;
	font-size: 16px;
	color: #000000;
	line-height: 30px;
	text-transform: uppercase;
}

.slider-header, .catalog-heading {
	font-weight: 500;
	font-size: 55px;
	color: #000000;
	line-height: 55px;
	text-transform: none;
}

.product-header {
	font-weight: 700;
	font-size: 24px;
	color: #000000;
	line-height: 30px;
	text-transform: uppercase;
}

.presentation-header {
	font-weight: 500;
	font-size: 45px;
	color: #000000;
	line-height: 45px;
	text-transform: none;
}

.presentation-underheader-1, .presentation-underheader-2 {
	font-weight: 700;
	font-size: 16px;
	color: #000000;
	line-height: 24px;
	text-transform: uppercase;
}

.advantages-list-value {
	font-weight: 700;
	font-size: 45px;
	color: #000000;
	line-height: 10.06px;
	text-transform: none;
}

.advantages-list-text {
	font-weight: 400;
	font-size: 16px;
	color: #283136;
	line-height: 28px;
	text-transform: none;
}

.map-hover {
	font-weight: 400;
	font-size: 16px;
	color: #666666;
	line-height: 18px;
	text-transform: none;
}

.map-header, .price-value-slider, .radio-header, .checkbox-header, .filter-results-heading {
	font-weight: 700;
	font-size: 18px;
	color: #000000;
	line-height: 30px;
	text-transform: uppercase;
}

.social-header {
	font-weight: 700;
	font-size: 36px;
	color: #000000;
	line-height: 36px;
	text-transform: none;
}

.social-text {
	font-weight: 400;
	font-size: 16px;
	color: #444444;
	line-height: 22px;
	text-transform: none;
}

.filter-option {
	font-weight: 400;
	font-size: 16px;
	color: #283136;
	line-height: 20px;
	text-transform: none;
}

.filter-results-options {
	font-weight: 400;
	font-size: 14px;
	color: #000000;
	line-height: 18px;
	text-transform: uppercase;
	opacity: 0.3;
}

.pagination-item-current {
	font-weight: 400;
	font-size: 14px;
	color: #000000;
	line-height: 18px;
	text-transform: uppercase;
	opacity: 1;
}


.visually-hidden { 
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}